{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::Item.Components.AddToWishList" ) }}
{{ component( "Ceres::Item.Components.GraduatedPrices" ) }}
{{ component( "Ceres::Item.Components.ItemBundle" ) }}
{{ component( "Ceres::Item.Components.ItemImageCarousel" ) }}
{{ component( "Ceres::Item.Components.OldVariationSelect" ) }}
{{ component( "Ceres::Item.Components.OrderProperties" ) }}
{{ component( "Ceres::Item.Components.OrderPropertyList" ) }}
{{ component( "PlentyTheme::Item.Components.SingleItem" ) }}
{{ component( "PlentyTheme::Item.Components.VariationSelect" ) }}

<single-item v-cloak item-data="{{ item | json_data }}" attributes-data="{{ attributes | json_data }}" variations="{{ variations | json_data }}">
    <template #before-price>{{ LayoutContainer.show("Ceres::SingleItem.BeforePrice", item.documents[0].data) }}</template>
    <template #after-price>{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}</template>
    <template #before-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</template>
    <template #after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-vat>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</template>
    <template #add-detail-tabs>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template #add-detail-tabs-content>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <template #item-list-container>{{ LayoutContainer.show("Ceres::SingleItem.ItemListContainer", item) }}</template>
    <template #feedback-container>{{ LayoutContainer.show("Ceres::SingleItem.FeedbackContainer", item) }}</template>
    <template #image-carousel>
        {% set ImageCarouselOverride = LayoutContainer.show("Ceres::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </template>

     
    <!-- HAUPTCONTAINER (SUBCONTAINER) 2|5|10|18(7)|19(12)|20(14)|21(16)| -->     
    <template #itemviewboxes>
    
        <!-- CHECK SUBCONTAINER -->
        {% set itemviewbox7  = "" %}
        {% set itemviewbox12 = "" %}
        {% set itemviewbox14 = "" %}
        {% set itemviewbox16 = "" %}
                      
        {%  for variationProperty in item.documents[0].data.variationProperties %}            
            {% if variationProperty.property.id == 7 %}
                {% set itemviewbox7 = variationProperty.values.value %}                
            {% endif %}            
            {% if variationProperty.property.id == 12 %}
                {% set itemviewbox12 = variationProperty.values.value %}                
            {% endif %}            
            {% if variationProperty.property.id == 14 %}
                {% set itemviewbox14 = variationProperty.values.value %}                
            {% endif %}            
            {% if variationProperty.property.id == 16 %}
                {% set itemviewbox16 = variationProperty.values.value %}                
            {% endif %}            
        {% endfor %}   
        <!-- END CHECK SUBCONTAINER -->
    
        {%  for variationProperty in item.documents[0].data.variationProperties %}            
            {% if variationProperty.property.id == 2 %}                           
                <div class="widget widget-grid row invert widget-full-width">                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ variationProperty.values.value|raw }}</div></div>
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 5 %}                           
                <div class="widget widget-grid row widget-full-width">                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><img src="{{ variationProperty.values.value|raw }}" /></div>                                        
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 10 %}                           
                <div class="widget widget-grid row widget-full-width">                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ variationProperty.values.value|raw }}</div></div>                                        
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 18 %}                           
                <div class="widget widget-grid row invert widget-full-width">
                    {% if itemviewbox7|length > 0 %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img src="{{ variationProperty.values.value|raw }}" /></div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ itemviewbox7|raw }}</div></div>
                    {% else %}                    
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ variationProperty.values.value|raw }}</div>                                                
                    {% endif %}                                                                          
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 19 %}                           
                <div class="widget widget-grid row invert widget-full-width">                    
                    {% if itemviewbox12|length > 0 %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ variationProperty.values.value|raw }}</div></div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img src="{{ itemviewbox12|raw }}" /></div>
                    {% else %}                    
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ variationProperty.values.value|raw }}</div>                                                
                    {% endif %}                                                                          
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 20 %}                           
                <div class="widget widget-grid row widget-full-width">                    
                    {% if itemviewbox14|length > 0 %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ variationProperty.values.value|raw }}</div></div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img src="{{ itemviewbox14|raw }}" /></div>
                    {% else %}                    
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ variationProperty.values.value|raw }}</div>                                                
                    {% endif %}                                                                          
                </div>
            {% endif %}              
            {% if variationProperty.property.id == 21 %}                           
                <div class="widget widget-grid row invert widget-full-width">                    
                    {% if itemviewbox16|length > 0 %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><img src="{{ variationProperty.values.value|raw }}" /></div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"><div class="mt-5 mr-5 mb-3 ml-5">{{ itemviewbox16|raw }}</div></div>
                    {% else %}                    
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ variationProperty.values.value|raw }}</div>                                                
                    {% endif %}                                                                          
                </div>
            {% endif %}              

        {% endfor %}         
    </template>
         
</single-item>