{% import "PlentyTheme::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "PlentyTheme::Customer.Components.UserLoginHandler" ) }}
{{ component( "PlentyTheme::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "PlentyTheme::PageDesign.Components.MobileNavigation" ) }}
{{ component( "PlentyTheme::ItemList.Components.ItemSearch" ) }}
{{ component( "PlentyTheme::WishList.Components.WishListCount" ) }}
{{ component( "PlentyTheme::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("PlentyTheme.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("PlentyTheme.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("PlentyTheme.currency.format") %}
{% set currencyFormatSelect = config("PlentyTheme.currency.format_selection") %}


{% set headerContainer = LayoutContainer.show("PlentyTheme::Header") | trim %}
{% if headerContainer is empty %}
    {% include "PlentyTheme::PageDesign.Partials.Header.DefaultHeader" %}
{% else %}
<header id="page-header" class="fixed-top">
    <div class="container-max">
        <div class="row">
            <div id="page-header-parent" class="col-12">
                {{ headerContainer | raw }}
            </div>
        </div>
    </div>
</header>
{% endif %}

{% set scriptId = uid() %}
<script id="{{ scriptId }}">
    var vueApp = document.getElementById("vue-app");
    var pageHeader = document.getElementById("page-header");

    if ( !!vueApp && !!pageHeader )
    {
        vueApp.style.marginTop = pageHeader.getBoundingClientRect().height + 'px';
    }

    var scriptElement = document.getElementById("{{ scriptId }}");
    scriptElement.parentElement.removeChild(scriptElement);
</script>

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}
    <mobile-navigation
            navigation-tree-data="{{ categories | json_data }}"
            :initial-category="{{ initialCategory | json_encode }}"
            template="#vue-mobile-navigation">
    </mobile-navigation>
</div>
